
body,html{
height: 100%;
width: 100%;
background-image:"/images/nurserybackgroundimage.jpg";
}

.container {
  display: flex;
  width: 100%;
}

.smalldiv {
  width: 40%;
  box-sizing: border-box;
  color:white
}

.bigdiv {
  width: 60%;
  box-sizing: border-box;
  color:white
}
/* .table
{
  background-color: lightblue;
    height: 500px;
    width: 100%;
} */

/* .smalltd
{
    width:45%;
    
    color:white
} */

/* .bigtd{
    width: 75%;
   color:black
    
    
} */

.span
{
    color:white
}

.btn
{
    height: 10%;
    width: 10%;
    color:white
}

.bottombutton
{
  background-color: green;
  color:white;
  height: 50px;
  width: 150px;
  margin:10px;
  cursor: pointer;

}

.maindiv
{
 width: 100vw;       /* 100% of viewport width */
  height: 100vh;      /* 100% of viewport height */
  
 background-image: linear-gradient(rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url('./images/nurserybackgroundimage.jpg');
 position: absolute;
    top: 0;
    left: 0;
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 
}
